.game-square {
  height: 96%;
  text-align: center;
  line-height: 0.85;
  cursor: pointer;
}

p {
  display: inline;
  margin: 0;
  font-size: 14rem;
  overflow: hidden;
}

/*.noClick {*/
/*  pointer-events: none;*/
/*}*/
button {
  width: 100%;
  height: 100%;
  font-size: 5em !important;
}
