<div class="container">
  <h1>Move Order</h1>
  <ol class="list-group  ">
    <li *ngFor =" let move of moves; let i = index;" class="list-group-item" (click)="viewPreviousState(i)">{{i+1}}
      {{checkSymbol(move.player)}}-{{checkName(move.player)}}-{{move.positions}}</li>
  </ol>
</div>


